body {
  padding: 0;
  margin: 0;
}

#title-bar {
  -webkit-app-region: drag;
  height: 40px;
  line-height: 40px;
  background: #1e222b;
  border-bottom: 2px solid #30333c;
  padding: 0 5px 0 15px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#title {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  flex: 1;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: -2px;
  right: 0;
}
#title-bar-btns button {
  background: none;
  height: 38px;
  padding: 0 15px;
  border: none;
  transition: all 0.2s ease;
}
#title-bar-btns button:hover {
  background: #30333c;
}
#title-bar-btns button:focus {
  outline: none;
}
#title-bar-btns button .fa {
  color: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font: 16px sans-serif;
  user-select: none;
  color: #f1f1f1;
  overflow: hidden;
  background: #1e222b;
  padding: 0 50px 50px 50px;
  font-family: Montserrat, sans-serif;
  height: 100vh;
}

h2 {
  font-weight: 300;
  font-size: 35px;
  font-style: italic;
  line-height: 30px;
}

h3, .status {
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
}

.danger {
  color: #f44;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 90px;
  padding-bottom: 50px;
}

.header-row {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.control-row {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel, .header-panel {
  background: #30333c;
}

.header-panel {
  height: 300px;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 450px;
  margin-right: 25px;
}

.usage, .compass, .header-right {
  flex: 1;
  padding: 30px 50px;
}

.usage {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  padding: 30px 15px;
}

.circle-graphs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.circleContainer {
  flex: 1;
  margin: -20px -10px -15px -10px;
}

.circleText {
  font-weight: 300;
  font-style: italic;
  color: #f1f1f1;
}

.battery-graph {
  margin-bottom: 25px;
}

#timer {
  font-weight: 800;
  font-style: italic;
  font-size: 125px;
  line-height: 100px;
}

#competition-mode {
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  margin-top: 25px;
}

.status {
  margin-top: 25px;
}

.compass {
  display: flex;
  align-items: center;
  width: 300px;
  flex: none;
  margin-right: 25px;
}

.compass-container {
  width: 300px;
}
.compass-container svg {
  width: 200px;
}

.graphic-info {
  font-size: 35px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  width: 200px;
  margin-top: 15px;
}

.cls-1, .cls-2, .cls-3 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1, .cls-2 {
  stroke: #f2f2f2;
}

.cls-1 {
  stroke-width: 5px;
}

.cls-2 {
  stroke-width: 4px;
}

.cls-3 {
  transform-origin: center;
}

.actuator {
  display: flex;
  align-items: center;
  width: 300px;
  flex: none;
}
.actuator .actuator-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.actuator .actuator-container svg {
  height: 200px;
}

.current-data, .pid-graphs {
  flex: 1;
  background: #30333c;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.current-title {
  margin-left: 50px;
  font-weight: 300;
  font-size: 35px;
  font-style: italic;
  line-height: 30px;
}

.current-graph {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.current-graph .current-label {
  flex: 2;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 300;
}
.current-graph .current-progress-bar {
  flex: 5;
}
.current-graph .current-numerical {
  flex: 1;
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #1e222b;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35), 0 5px 15px rgba(30, 34, 43, 0.4);
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(left, #00A6FB, #f44);
  background-size: 50px 20px, 100% 100%;
}

.controlCenter {
  flex: 1;
  margin: 0 25px;
  background: #30333c;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}
.controlCenter h2 {
  margin-bottom: 25px;
}
.controlCenter hr {
  margin: 35px auto;
  width: 200px;
  height: 4px;
  border-radius: 2px;
  background: #006494;
  border: none;
}

.autonSelector {
  width: 100%;
}
.autonSelector h3, .autonSelector .status {
  margin-bottom: 15px;
}

.auton-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.auton-buttons button {
  height: 50px;
  border-radius: 2px;
  line-height: 35px;
  background: #006494;
  border: none;
  transition: all 0.2s ease;
  padding: 0 35px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  color: #f1f1f1;
  box-shadow: 0 5px 15px rgba(30, 34, 43, 0.8);
}
.auton-buttons button:focus {
  outline: none;
}
.auton-buttons button.active, .auton-buttons button:hover {
  box-shadow: 0 10px 25px rgba(30, 34, 43, 0.8);
  transform: scale(1.05);
}
.auton-buttons button.active {
  background: #00A6FB;
}

.pid-graphs {
  align-items: center;
  justify-content: center;
  background: none;
}

.graphs-container {
  width: 100%;
}

.tab-container {
  overflow: hidden;
}
.tab-container button {
  background: #1e222b;
  color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  box-shadow: inset 0 0 0 transparent;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.tab-container button:hover {
  box-shadow: inset 0 -3px 0 0px #00A6FB;
}
.tab-container button.active {
  background: #30333c;
  box-shadow: inset 0 -3px 0 0px #00A6FB;
}

.tabContent {
  position: absolute;
  visibility: hidden;
  padding: 20px 0;
  border-top: none;
  animation: fadeEffect 1s;
  background: #1e222b;
  display: flex;
  flex-direction: column;
}
.tabContent h3, .tabContent .status {
  margin-bottom: 15px;
}

.graph {
  background: #30333c;
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}

.graphContainer {
  display: flex;
}

.value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.graphValue {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
}

.constants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pidConstantInput {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 15px;
  background: #30333c;
}
.pidConstantInput .constant-label {
  width: 30px;
}
.pidConstantInput input {
  width: 55px;
  margin-right: 5px;
}

#camera {
  width: 666.67px;
  height: 500px;
  margin: 0 50px;
  overflow: hidden;
  background: url(../images/frc.jpg) center center;
  background-size: cover;
}

/* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
/*background-image: url('LINK TO CAMERA SOURCE HERE'); */
input[type="text"], input[type="number"] {
  color: white;
  background: #1e222b;
  border: none;
  font-size: 14px;
  padding: 6px 8px;
  cursor: pointer;
  outline: 0;
}

input[type="text"], input[type="number"] {
  cursor: text;
}
input[type="checkbox"] {
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
